/*Topo*/

.jumbotron {
    background-color: black;
    color: floralwhite;
    padding: 100px 25px;
}

/*Itens abaixo do topo*/

.container-fluid {
    padding: 60px 50px;
}

/*Menu superior*/

.navbar {
    margin-bottom: 0;
    background-color: black;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: floralwhite !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: floralwhite !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: floralwhite !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

.dropdown-menu li a:hover {
	color: #fff !important;
    background-color: #555 !important;
}


/*Final da pagina*/

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: black !important;
}

/*Fontes*/

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

/*Extras*/

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

/* Abas laterais */

.area-tabs {
	margin-top: 30px;
}

.nav-pills > li > a{
	color: #818181;
}

.nav-pills > li.active > a {
	background-color: black;
}

.nav-pills > li.active > a:hover {
	background-color: black;
}